@charset "UTF-8";
@font-face {
    font-family: 'rounded';
    src: url(/fontes/Fredoka-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: 'rounded1';
    src: url(/fontes/Quicksand-VariableFont_wght.ttf);
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hamburger {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: block;
}

.hamburger:hover {
    opacity: 0.7;
}

/*nav*/
header {
    font-family: 'rounded';
    display: flex;
    flex-direction: row;
    background-color: #F3752B;
    width: 100%;
    height: 23vh;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.logo {
    margin: 1.5625rem 0 1.5625rem 2.5rem;
    align-self: center;
}

.list {
    display: flex;
    flex-direction: row;
    gap: 1.5625rem;
    align-self: center;
    padding-right: 2.5rem;
}

.link {
    list-style-type: none;
}

.link > a {
    text-decoration: none;
    color: #8B4513;
    font-size: 24px;
    font-weight: bold;
}

.link > a:hover {
    color:#F7DBA7;
}

/*nav pagina atual*/
.ative {
    color: #F7DBA7 !important;
}
/*end nav pagina atual*/
/*end nav*/

/*main*/
main {
    background-image: url(/images/background/fundo5.png);
    background-size: cover;
    font-family: 'rounded1';
    color: #8B4513;
    display: flex;
    flex-direction: column;
    background-color: #F7DBA7;
    width: 100%;
    justify-content: center;
    height: 71vh;
}

.main-section {
    background-color: #ffffff7c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 1.25rem 4.375rem 5.625rem;
    border-radius: 20px;
    margin: 1.5625rem 0;
}

.title {
    text-align: center;
    padding-bottom: 30px;
}

.main-table {
    display: flex;
    flex-direction: row;
}

 .links-cardapio {
    padding-right: 1.5625rem;
    border-right: 1px solid;
    margin: 1.5625rem;
    height: 23.4375rem;
    align-content: center;
 }

 .link-cardapio {
    padding-bottom: 3.75rem;
 }

 .link-cardapio > a {
    text-decoration: none;
    color: #8B4513;
    font-size: 24px;
    font-weight: bold;
 }

 .link-cardapio > a:hover {
    color: #F7DBA7;
 }
 
 .cardapio-table {
    display: flex;
    flex-direction: column;
    align-self: center;
 }

 .cardapio {
    display: flex;
    flex-direction: row;
    gap: 3.75rem;
    padding-bottom: 1.5625rem;
 }

 .text {
    width: 37.5rem;
    align-self: center;
 }

 .hidden {
    display: none;
}
/*end main*/

/*footer*/
footer {
    font-family: 'rounded';
    color: #8B4513;
    display: flex;
    flex-direction: row;
    background-color: #F3752B;
    height: 6vh;
    justify-content: space-between;
}

.name {
    padding-left: 2.5rem;
    align-self: center;
}
.icons {
    display: flex;
    flex-direction: row;
    padding-right: 2.5rem;
    gap: .9375rem;
    align-self: center;
}

.icon:hover {
    width: 40px;
}
/*end footer*/

@media (max-height: 900px) {
    .main-section {
        padding: 20px 70px 20px;
    }
    
    .title {
        padding-bottom: 10px;
    }
}