@charset "UTF-8";
@font-face {
    font-family: 'rounded';
    src: url(/fontes/Fredoka-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: 'rounded1';
    src: url(/fontes/Quicksand-VariableFont_wght.ttf);
}
   

/* erro */
.error-message {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    z-index: 9999;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/*end erro */

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hamburger {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: block;
}

.hamburger:hover {
    opacity: 0.7;
}

/*nav*/
header {
    font-family: 'rounded';
    display: flex;
    flex-direction: row;
    background-color: #F3752B;
    width: 100%;
    height: 23vh;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
}

.menu {
    
    display: none;
}

.logo {
    margin: 1.5625rem 0 1.5625rem 2.5rem;
    align-self: center;
}

.list {
    display: flex;
    flex-direction: row;
    gap: 1.5625rem;
    align-self: center;
    padding-right: 2.5rem;
}

.link {
    list-style-type: none;
}

.link > a {
    text-decoration: none;
    color: #8B4513;
    font-size: 24px;
    font-weight: bold;
}

.link > a:hover {
    color: #F7DBA7;
}

/*nav pagina atual*/
.ative {
    color: #F7DBA7 !important;
}
/*end nav pagina atual*/
/*end nav*/

/*main*/
main {
    font-family: 'rounded1';
    color: #8B4513;
    display: flex;
    flex-direction: row;
    background-image: url(/images/background/fundo5.png);
    background-size: cover;
    width: 100%;
    height: 71vh;
    justify-content: center;
}

.container {
    width: 62.1875rem; 
}

.title {
    text-align: center; 
    margin-bottom: auto; 
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: auto;
    display: block; 
    width: 93%; 
}

.table-cadastro{
    background-color: #ffffff7c;
    border-radius: 30px;
    width: 50.1875rem;
    height: 26rem;
    text-align: center;
    align-self: center;
}

fieldset {
    margin: 1.5625rem 7.8125rem;
    border: none;
}

legend {
    font-family: 'rounded';
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1.5625rem;
    align-self: center;
}

.table {
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;
}

.border {
    font-family: 'rounded1';
    border-radius: 15px;
    border: 1px solid #8B4513;
    height: 2.8125rem;
    padding: 0 3.4375rem;
    font-weight: bold;
    color: #8B4513;
    font-size: 20px;
}

.nome {
    background-image: url(/images/cadastro/profile.png);
    background-repeat: no-repeat;
    background-position: 1rem;
    background-size: 28px;

}
.email {
    background-image: url(/images/cadastro/mail.png);
    background-repeat: no-repeat;
    background-position: 1rem;
    background-size: 28px;
}

.password{
    background-image: url(/images/cadastro/key.png);
    background-repeat: no-repeat;
    background-position: 1rem;
    background-size: 28px;
}

.textarea {
    height: 5.3125rem;
    padding-top: 0.625rem;
    resize: none;
}

.button {
    width: 14.375rem;
    align-self: center;
    color: #F7DBA7;
    background-color: #F3752B;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #f39661;
}


.main-section {
    display: flex;
    gap: 105px;
}

.img {
    align-self: center;
}

.text {
    align-self: center;
    width: 530px;
    text-align: justify;
}
/*end main*/

/*footer*/
footer {
    font-family: 'rounded';
    color: #8B4513;
    display: flex;
    flex-direction: row;
    background-color: #F3752B;
    height: 6vh;
    justify-content: space-between;
}

.name {
    padding-left: 2.5rem;
    align-self: center;
}
.icons {
    display: flex;
    flex-direction: row;
    padding-right: 2.5rem;
    gap: .9375rem;
    align-self: center;
}

.icon:hover {
    width: 40px;
}
/*end footer*/

@media (max-width: 1000px) {
    
}