<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sabores del Cielo</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/estilos/contato.css">
</head>
<body>
    <header>
        <nav>
            <a class="logo" href="#"><img src="images/index/logo.png" alt="Logo"></a>
            <ul class="list">
                <li class="link"><a href="/">Início</a></li>
                <li class="link"><a href="/login">Login</a></li>
                <li class="link"><a href="/reserva">Reserva</a></li>
                <li class="link"><a href="/eventos">Eventos</a></li>
                <li class="link"><a class="ative" href="/contato">Contato</a></li>
                <li class="link"><a href="/historia">História</a></li>
                <li class="link"><a href="/cardapio">Cardápio</a></li>
                <img id="hamburger-icon" class="hamburger" src="images/index/menu-burger-svg.png" alt="Menu">
            </ul>
            <%- include('partials/sidebar') %>
        </nav>
    </header>
    <main>
        <section class="main-section">
            <div class="table-contato">
                <table>
                    <tr>
                        <td class="mapa">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14947.152134214093!2d-47.4006943!3d-20.5149138!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b0a650b93c4b5f%3A0xbe0e42f3aa42525c!2sFatec%20Franca%20-%20Faculdade%20de%20Tecnologia%20de%20Franca%20Dr%20Thomaz%20Novelino!5e0!3m2!1spt-BR!2sbr!4v1726497254208!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </td>
                        <td class="contato">
                            <h2 class="title"> <br>
                                Rua das Orquídeas, nº 546<br><br>
                                Bairro Jardim Campo Grande<br><br>
                                Franca, SP <br><br>
                                CEP: 14406-000
                                <br><br>
                                Telefone: (16) 3721-0001<br><br>
                                E-mail: saboresdelcielo@email.com
                            </h2>
                        </td>
                    </tr>
                </table>
            </div>
        </section>
    </main>
    <footer>
        <h3 class="name">Sabores del Cielo</h3>
        <div class="icons">
            <a class="icon" href="#"><img src="images/index/insta.png" alt="Acesse nosso Instagram"></a>
            <a class="icon" href="#"><img src="images/index/face.png" alt="Acesse nosso Facebook"></a>
        </div>
    </footer>
    <script src="/js/sidebar.js"></script>
</body>
</html>